[".tmux_runtime"]
    type = "archive"
    url = "https://github.com/gpakosz/.tmux/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/.antidote"]
  type = "git-repo"
  url = "https://github.com/mattmc3/antidote"
  refreshPeriod = "168h" 
[".intellimacs"]
  type = "git-repo"
  url = "https://github.com/marcoieni/intellimacs"
  refreshPeriod = "168h"
[".local/bin/wtf"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "wtfutil/wtf" (printf "wtf_*_%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
  executable = true
  stripComponents = 1
  path = "wtfutil"
[".local/bin/starship"]
  type = "archive-file"
  {{- if eq .chezmoi.os "linux"}}
  url = {{ gitHubLatestReleaseAssetURL "starship/starship" (printf "starship-x86_64-unknown-linux-gnu.tar.gz") | quote }}
  {{- end }}
  executable = true
  path = "starship"
[".local/bin/atuin"]
  type = "archive-file"
  {{- if eq .chezmoi.os "linux"}}
  url = {{ gitHubLatestReleaseAssetURL "atuinsh/atuin" (printf "atuin-x86_64-unknown-linux-gnu.tar.gz") | quote }}
  {{- end }}
  executable = true
  stripComponents = 1
  path = "atuin"
[".local/bin/bob"]
  type = "archive-file"
  {{- if eq .chezmoi.os "linux"}}
  url = {{ gitHubLatestReleaseAssetURL "MordechaiHadad/bob" (printf "bob-%s-x86_64.zip" .chezmoi.os ) | quote }}
  {{- end }}
  executable = true
  stripComponents = 1
  path = "bob"

[".tfenv"]
  type = "git-repo"
  url = "https://github.com/tfutils/tfenv.git"


[".local/bin/uv"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    refreshPeriod = "72h"
    executable = true
    stripComponents = 1
    path = "uv"

[".local/bin/uvx"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    refreshPeriod = "72h"
    executable = true
    stripComponents = 1
    path = "uvx"

[".local/bin/pack"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "buildpacks/pack" (printf "pack-*-linux.tgz") | quote }}
  executable = true
  path = "pack"

[".local/bin/k9s"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "derailed/k9s" (printf "k9s_Linux_amd64.tar.gz") | quote }}
  executable = true
  path = "k9s"

[".local/bin/just"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "casey/just" (printf "just-*-x86_64-unknown-linux-musl.tar.gz") | quote }}
  executable = true
  path = "just"

{{- if and (not .ephemeral) (not .headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "IosevkaTerm"
        "JetBrainsMono"
        "CascadiaCode") }}
["{{ $fontDir }}/{{ . }}"]
    url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" (printf "%s.zip" .) | quote }}
    type = "archive"
    include = ["*.ttf"]
    refreshPeriod = "168h"
{{-   end }}
{{- end }}

