[submodule "home/.intellimacs"]
	path = home/.intellimacs
	url = git@github.com:MarcoIeni/intellimacs.git
	branch = main
[submodule "home/.config/kitty-themes"]
	path = home/.config/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "home/.config/kitty/themes"]
	path = home/.config/kitty/themes
	url = git@github.com:dexpota/kitty-themes.git
