#!/usr/bin/env bash
{{ if eq .osid "linux-arch" }}
echo "Installing required arch packages"
yes | sudo pacman -S {{ .packages.linux.pacman | quoteList | join " " }}
yes | yay -S {{ .packages.linux.yay | quoteList | join " " }}
echo "Pop os detected, do something"
{{ else if eq .osid "linux-pop" }}
sudo apt install {{ .packages.linux.apt | quoteList | join " " }}
{{ end }}

ln -sf ~/.tmux_runtime/.tmux.conf ~/.tmux.conf
if ! type cargo >/dev/null 2>&1; then
  source $HOME/.cargo/env
fi
{{ range .packages.cargolocked -}}
cargo install --locked {{ . | quote }}
{{ end -}}
cargo install {{ .packages.cargo | quoteList | join " " }}
