#!/usr/bin/env bash
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
{{ if eq .osid "linux-arch" }}
echo "Installing required arch packages"
yes | sudo pacman -S {{ .packages.linux.pacman | quoteList | join " " }}
yes | yay -S {{ .packages.linux.yay | quoteList | join " " }}
{{ else if eq .osid "linux-pop" }}
echo "Pop os detected, do something"
sudo apt install -y {{ .packages.linux.apt | quoteList | join " " }}
{{ end }}

ln -sf ~/.tmux_runtime/.tmux.conf ~/.tmux.conf
if ! type cargo >/dev/null 2>&1; then
  source $HOME/.cargo/env
fi
{{ range .packages.cargolocked -}}
yes | cargo binstall --locked {{ . | quote }}
{{ end -}}
yes | cargo binstall {{ .packages.cargo | quoteList | join " " }}
