[Desktop Entry]
Name=Mattermost
Comment=Mattermost Desktop application for Linux
Exec="{{ .chezmoi.homeDir }}/.local/share/mattermost-desktop/mattermost-desktop" %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/mattermost
Icon={{ .chezmoi.homeDir }}/.local/share/mattermost-desktop/app_icon.png
Categories=Network;InstantMessaging;
