{{ if and (eq .osid "linux-pop") .personal -}}
#!/usr/bin/env bash

dir=$(mktemp -d)
echo "install keyd"
git clone https://github.com/rvaiya/keyd $dir
cd $dir
mkdir -p /etc/keyd
make && sudo make install
sudo mv -f examples/capslock-escape-with-vim-mode.conf /etc/keyd/default.conf
sudo systemctl enable --now keyd
{{ end -}}

