{{- if (not .ephemeral) -}}
#!/bin/bash
set -eufo pipefail
# bootstrap.sh has usually done this already; only prompt for a password when it hasn't
[ "$(getent passwd "$USER" | cut -d: -f7)" = /usr/bin/zsh ] || chsh -s /usr/bin/zsh
{{- end -}}
