{{- if eq .osid "linux-pop" -}}
#!/usr/bin/env bash
# weekly-trigger: {{ div (now | unixEpoch) 604800 }}
set -euo pipefail
export PATH="$HOME/.cargo/bin:$PATH"

dir=$(mktemp -d)
trap 'rm -rf "$dir"' EXIT

git clone --depth 1 https://github.com/hepp3n/kdeconnect.git "$dir"
cd "$dir"
just install
{{- end -}}
